<!-- main app container -->
 <div class="banner-container">
 <div class="overlay">
 <div class="logo-content">
   <img src="../assets/images/logo.png" class="app-logo"  />
   <h4>The Shopee</h4>
 </div>
 </div>
 <div class="registration-form">
   <h3 class="page-title">Registration</h3>
  
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
     <div class="row clearfix">
       <div class="form-group col-sm-6">
         <mat-form-field class="full-width">

           <input type="text" matInput placeholder="Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />

         </mat-form-field>
         <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
           <div *ngIf="f.firstName.errors.required">First Name is required</div>
         </div>
       </div>
       <div class="form-group col-sm-6">
         <mat-form-field class="full-width">

           <input type="text" matInput placeholder="Last name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />

         </mat-form-field>
         <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
           <div *ngIf="f.lastName.errors.required">Last Name is required</div>
         </div>
       </div>
       <div class="form-group col-sm-6">
         <mat-form-field class="full-width">

           <input type="text" matInput placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

         </mat-form-field>
         <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
           <div *ngIf="f.email.errors.required">Email is required</div>
           <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
         </div>
       </div>
       <div class="form-group col-sm-6">
         <mat-form-field class="full-width">
           <input type="text" matInput placeholder="Phone" (keypress)="keyPress($event)" minlength=10 maxlength=10 formControlName="mobileNo" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors}" />
         </mat-form-field>
         <div *ngIf="submitted && f.mobileNo.errors && !showMessage" class="invalid-feedback">
           <div *ngIf="f.mobileNo.errors.required" >Phone number is required</div>
           <div *ngIf="f.mobileNo.errors.minlength">Phone number must be at least 10 characters</div>
         </div>
         <div *ngIf="showMessage" class="invalid-feedback">Phone number should be valid</div>
       </div>

       <div class="form-group col-sm-12">
         <mat-form-field class="full-width">
           <input type="text" matInput placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
         </mat-form-field>
         <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
           <div *ngIf="f.address.errors.required">Address is required</div>
         </div>
       </div>

       <div class="form-group col-sm-6">
         <mat-form-field class="full-width">

           <input type="password" matInput  placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" />

         </mat-form-field>
         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
           <div *ngIf="f.password.errors.required">Password is required</div>
           <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
           <div *ngIf="f.password.errors.pattern && !f.password.errors.required && !f.password.errors.minlength">Special characters required</div>
         </div>
       </div>
       <div class="form-group col-sm-6">
         <mat-form-field class="full-width">
           <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

         </mat-form-field>
         <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
           <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
           <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
           <div *ngIf="f.confirmPassword.errors.pattern && !f.confirmPassword.errors.required && !f.confirmPassword.errors.minlength">Special characters required</div>
         </div>
       </div>
     </div>
     <div class="form-group">
       <button class="btn btn-primary">REGISTER</button>
     </div>
   </form>
 </div>
</div>
     

